{% extends "core/post_detail.html" %}

{% block additional_content %}
<div class="additional-content mt-4">
    <h2>More Details</h2>
    <p>Mr. Setty, who was appointed managing director in January 2020, currently oversees SBI’s International Banking, Global Markets, and Technology verticals.</p>
    <p>He will succeed Dinesh Kumar Khara, who is set to superannuate on August 28 upon reaching the upper age limit of 63 for the position of SBI Chairman.</p>
    <p>Mr. Setty, who has also chaired various task forces and committees formed by the Government of India, previously managed the retail and digital banking portfolio at SBI.</p>
    <p>Holding a Bachelor of Science in Agriculture and a Certified Associate of the Indian Institute of Bankers, Mr. Setty commenced his career with SBI as a Probationary Officer in 1988.</p>
    <p>Throughout his career spanning over three decades, he has amassed extensive experience in corporate credit, retail, digital, and international banking, including operations in developed markets.</p>
    <p>Mr. Setty has held pivotal roles at SBI, including Deputy Managing Director – Stressed Assets Resolution Group, Chief General Manager and General Manager in Corporate Accounts Group, Deputy General Manager in Commercial Branch, Indore, and VP & Head (Syndications) in SBI, New York Branch.</p>
    </div>
{% endblock %}
