{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h4 class="text-primary">Our Services</h4>
            <h1 class="display-4"> Offering the Best Consulting & Bank Services</h1>
        </div>
        <div class="row g-4 justify-content-center text-center">
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                      <img src="{% static 'img/service-1.jpg' %}" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-donate fa-2x me-2"></i> Business Strategy</a>
                            <p class="mb-4">Our Business Strategy Investments are designed to drive growth and maximize returns, ensuring your business achieves its full potential in a competitive market, embrace us and see for yourself.
                            </p>
                            {% comment %} <a class="btn btn-light rounded-pill py-2 px-4" href="#">Read More</a> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                      <img src="{% static 'img/service-2.jpg' %}" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-donate fa-2x me-2"></i> Consultancy & Advice</a>
                            <p class="mb-4">Explore our Consultancy & Advice services designed to offer strategic insights and expert guidance, empowering your business with tailored solutions for sustained growth and operational excellence.
                            </p>
                            {% comment %} <a class="btn btn-light rounded-pill py-2 px-4" href="#">Read More</a> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                      <img src="{% static 'img/service-4.jpg' %}" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-donate fa-2x me-2"></i> Invesments Planning</a>
                            <p class="mb-4">Discover our Investment Planning services, meticulously crafted to align with your financial goals and aspirations, ensuring robust strategies and optimal returns for a secure and bright future.
                            </p>
                            {% comment %} <a class="btn btn-light rounded-pill py-2 px-4" href="#">Read More</a> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                      <img src="{% static 'img/service-3.jpg' %}" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-donate fa-2x me-2"></i> Private Client Investment</a>
                            <p class="mb-4">Explore our Private Client Investment services, tailored to cater to discerning individuals seeking personalized financial strategies, aimed at securing wealth and achieving prosperity.
                            </p>
                            {% comment %} <a class="btn btn-light rounded-pill py-2 px-4" href="#">Read More</a> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <a class="btn btn-primary rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.1s" href="{% url 'core:service_request' %}">Enquire Now</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

