{% extends 'core/base.html' %}

{% block head_title %}Update Password{% endblock %}

{% block content %}
<style>
    .background {
        background: linear-gradient(to bottom right, #5899E2, #5899E2, #FFFFFF, lightblue);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        backdrop-filter: blur(10px);
    }
    .form-container {
        background-color: rgba(255, 255, 255, 0.2);
        max-width: 500px;
        padding: 40px;
        width: 400px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .form-title {
        font-family: 'Monospace', sans-serif;
        font-weight: bold;
        font-size: 1.875rem;
        text-align: center;
        margin-bottom: 20px;
    }
    .form-card {
        margin-top: 20px;
    }
    .form-label {
        display: block;
        font-weight: bold;
        margin-bottom: 8px;
        color:#273746;
    }
    .form-control {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        font-size: 1rem;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(5px);
    }
    .submit-button {
        background-color: #4299e1;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s ease;
    }
    .submit-button:hover {
        background-color: #2b6cb0;
    }
</style>

<div class="background">
    <div class="form-container">
        <h2 class="form-title">Forgot Password</h2>
        <form method="post" class="form-card">
            {% csrf_token %}
            <div class="mb-4">
                <label for="{{ form.email.id_for_label }}" class="form-label">Email address</label>
                <input type="text" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" class="form-control">
            </div>
            {% comment %} <div class="mb-4">
                <label for="{{ form.first_name.id_for_label }}" class="form-label">First Name</label>
                <input type="text" name="{{ form.first_name.name }}" id="{{ form.first_name.id_for_label }}" class="form-control">
            </div>
            <div class="mb-4">
                <label for="{{ form.last_name.id_for_label }}" class="form-label">Last Name</label>
                <input type="text" name="{{ form.last_name.name }}" id="{{ form.last_name.id_for_label }}" class="form-control">
            </div> {% endcomment %}
            <div class="flex items-center justify-center">
                <button type="submit" class="submit-button">Reset Password</button>
            </div>
        </form>
        <div>
            {% if messages %}
                <div class="mt-4">
                    {% for message in messages %}
                        <div class="alert alert-info">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
